/* générale */

html {
    margin: auto;
    max-width: 1400px;
}
body {
    font-family: 'Raleway';
    padding: 0px 50px 0px 50px;
    margin:0;
    font-weight: 400;
}
h1, h2, h3 {
    font-weight: 700;
}
h1 {
    font-size: 1.375em;
}
h2 {
    font-size: 1.125em;
}
h3 {
    font-size: 1em;
    margin: 0;
    color: black;
}
p { 
    font-size: 0.88em;
    margin: 0px;
    color: black;
}
a:link {
    color: #000;
    text-decoration: none;
}
.fa-solid {
    color:#0065FC;
}
.fa_grise{
    color: #F2F2F2;
}
.fa_noire{
    color: #000;
}
.fa_blanc{
    color: #FFF;
}
.fa-star {
    font-size: 70%;
}


/* Header */

header {
    display: flex;
    justify-content: space-between;
}


/* logo booki */

#logo_booki {
    display: flex;
    align-items: flex-end;
}
#logo_booki img {
    width: 100%;
    height: 19px;
}


/* Navigation */

nav ul {
    list-style-type: none;
    display: flex;
    align-items: flex-end;
    margin-top: 0px;
    margin-bottom: 0px;
}
nav li {
    margin-left: 50px;
    display:flex;
    padding: 0;
}
nav a {
    padding-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    align-items: center;
    color:black;
}
nav a:hover {
    color: #0065FC;
    border-top: 2px solid #0065FC;
    font-weight: 500;
}




main {
    margin-top: 50px;
}


/* recherche */

#form_recherche {
    padding-top:20px;
}
.localisation {
    background-color: #F2F2F2;
    padding: 14px 18px 16px 18px;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
}
.fa-location-dot {
    font-size: 116%;
}
.recherche {
    border: 1px solid #F2F2F2 ;
    margin: 0;
    padding: 15px 0 15px 10px;
    font-weight: 700;
    font-size: 1em;
    margin-left: -5px;
}
#ville::placeholder {
    color:black;
}
.btn {
    background-color: #0065FC ;
    color: white;
    font-weight: 700;
    font-size: 1em;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
    padding: 15px 16px 15px 16px;
    margin-left: -5px;
}
.fa-magnifying-glass {
    display: none;
}


/* Filtres */

#filtre {
    display: flex;
    margin-top: 30px;
}
#filtre h2 {
    margin-right: 30px;
}
#bloc_filtre {
    display: flex;
    justify-content: space-around;
    gap: 30px;
}
.element_filtre {
    display:flex;
    align-items: center;
    height: 50px;
    border : 2px solid #D9D9D9;
    border-radius: 25px;
    padding: 0px 15px 0px 15px;
}
.logo {
    margin-right: 15px;
}
.element_filtre p {
    font-weight: 700;
    font-size: 17px;
}
.element_filtre:hover {
    background-color: #DEEBFF;
}


/* infobull */

#bloc_infobull {
    display: flex;
    align-items: center;
    margin-top: 30px;
}
#logobull_i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22px;
    height: 22px;
    border: 1px solid #D9D9D9;
    border-radius: 25px;
}
#bloc_infobull p {
    margin-left: 10px;
}


/* carte hébergement et populaire */

#bloc_hebergement_et_populaire {
    display: flex;
    margin-top: 39px;
}


/* Cartes hébergement */

#container_hebergement {
    flex: 2;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 40px;
    margin-right: 40px;
}
#container_hebergement h1 {
    margin: 0;
    padding-bottom: 23px;
}
#cartes_hebergement {
    display: flex;
    flex-wrap: wrap;
    gap: 31px;
}
.carte_hebergement {
    flex: 1 0 25%;
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.container_image_carte_hebergement {
    border: 5px solid #FFFFFF;
    border-radius: 20px 20px 0 0;
}
.carte_hebergement img {
    width: 100%;
    height: 114px;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}
.carte_hebergement_info {
    padding-left: 16px;
}
.carte_hebergement p {
    padding-top: 9px;
}
.notation_hebergement {
    padding-top: 9px; 
    padding-bottom: 11px;
}
#afficher_plus {
    margin: 0;
    padding-top: 40px;
    padding-bottom: 6px;
}


/* réglage petite étoile bleu */

.notation_hebergement, .notation_populaire {
    padding-bottom: 10px;
    padding-top: 5px;
}
.fa-star {
    margin-right: -3px;
}


/* Cartes populaires */

#container_populaires {
    flex: 1;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 40px;
}
#div_h1_chart{
    display:flex;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 26px;
}
#div_h1_chart h1 {
    margin: 0;
}
#logo_chart {
    font-size: 110%;
}
#cartes_populaires {
    display: flex;
    flex-direction:column;
    gap: 30px;
}
.carte_populaires {
    display: flex;
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.carte_populaires article {
    display: flex;
}
.container_image_carte_populaire {
    border: 5px solid #FFFFFF;
    border-radius: 20px 0 0 20px;
    display: flex;
}
.carte_populaires img {
    width: 127px;
    height: 140px;
    border-radius: 15px 0 0 15px;
    object-fit: cover;
}
.infos_carte_populaire {
    position: relative;
    padding-top: 12px;
    padding-left: 6px;
}
.infos_carte_populaire p {
    padding-top: 7px;
}
.notation_populaire {
    position: absolute;
    bottom: 0;
}


/* Cartes Activités */

#container_activites {
    margin-top: 60px;
}
#container_activites h1 {
    margin: 0;
    padding-bottom: 20px;
}
#container_carte_activites {
    display: flex;
    gap: 43px;
}
.carte_activites {
    flex: 1;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.carte_activites img {
    width: 100%;
    height: 394px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}
.carte_activites h3 {
    padding: 15px 0 15px 20px;
}


/* Footer */

footer {
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
    padding-top: 40px;
}
.footer_colonne ul {
    padding-left: 0;
}
.footer_colonne li {
    list-style-type: none;
    padding-top: 10px;
}



/* tablette */

@media only screen and (min-width: 768px) and (max-width: 991px) {

    body {
        margin: 0;
        padding: 0 33px 0 33px;
    }


    /* Filtre */

    #bloc_filtre {
        gap: 0px;
    }

    .element_filtre {
        margin-right: 15px;
    }
    #filtre h2 {
        margin-right: 10px;
    }
    #bloc_hebergement_et_populaire {
        flex-direction: column;
    }


    /* Carte hebergement */

    #container_hebergement {
        margin: 0;
    }


    /* Carte populaires */

    #container_populaires {
        flex: 1;
        margin: 0;
        padding: 40px;
        margin-top: 40px;
    }
    #cartes_populaires {
        flex-direction: row;
        justify-content: space-between;
        gap: 23px;
        padding-bottom: 8px;
    }
    #div_h1_chart {
        padding-top: 10px;
    }
    #cartes_populaires img {
        width: 96px;
    }
    .carte_populaires {
        flex: 1 0 25%;
    }
    .infos_carte_populaire p {
        font-size: 13px;
    }
    .infos_carte_populaire {
        padding-top: 12px;
    }


    /* Carte activité */

    .container_img_activites img {
        height: 200px;
    }
    .carte_activites h3 {
        padding: 10px 0 10px 15px;
    }


    /* footer */

    footer {
        margin-top: 69px;
    }
}


/* Téléphone */


@media only screen and (max-width: 768px) {

    body {
        margin: 0;
        padding: 0;
    }
    header {
        flex-direction: column;
    }
    #logo_booki {
        margin: auto;
        padding-top: 21px;
    }


    /* navigation */

    nav {
        width: 100%;
    }
    nav ul {
        padding: 0;
    }
    nav li {
        margin: 0;
        width: 100%;
        padding-bottom: 15px;
    }
    nav a {
        border-bottom: 3px solid #F2F2F2;
        width: 100%;
        text-align: center;
        padding-bottom: 20px;
    }
    nav a:hover {
        border-top: none;
        border-bottom: 3px solid #0065FC;
    }


    /* Recherche */



    #recherche_infos {
        padding: 20px;
    }
    #recherche_infos h1 {
        margin-top: 0;
    }
    #form_recherche {
        text-align: center;
        padding-bottom: 20px;
    }
    #mot_rechercher {
        display: none; 
    }
    .fa-magnifying-glass {
        display: initial;
    }
    input {
        width: 190px;
    }

    /* Filtres */

    #filtre {
        flex-direction: column;
        margin-top: 0;
    }
    #bloc_filtre {
        flex-wrap: wrap;
        gap: 7px;
        padding: 0 10px 0 10px;
    }
    .element_filtre {
        width: 35%;
        margin-right: 0;
        margin-bottom: 20px;
    }
    #filtre h2 {
        padding-left: 20px;
        margin-bottom: 20px;;
    }
    #filtre p {
        font-size: 11px;
    }
    .logo {
        margin-right: 5px;
    }


    /* infobull */

    #bloc_infobull {
        padding: 0 20px 0 20px
    }


    /* carte populaires et hebergement */

    #bloc_hebergement_et_populaire {
        flex-direction: column-reverse;
    }


    /*carte populaires*/

    #container_populaires {
        flex-direction: column;
        border-radius: 0;
        padding: 20px;
    }
    #cartes_populaires {
        gap: 11px;
        padding-bottom: 27px;
    }
    #div_h1_chart {
        padding-top: 8px;
    }


    /*carte hebergement */

    #container_hebergement {
        flex-wrap:nowrap;
        padding: 20px;
        margin: 0;
        border-radius: 0;
        background-color: #FFF;
    }
    #cartes_hebergement {
        gap: 12px;
    }
    #container_hebergement h1 {
        padding-top: 6px;
    }
    .carte_hebergement {
        flex: 1 0 100%;
   }
    #afficher_plus {
        display: none;
    }


    /* Carte activité */

    #container_activites {
        margin: 100px 0 0 0;
    }
    #container_activites h1 {
        margin: 0;
        padding-left: 20px;;
    }
    #container_carte_activites {
        flex-direction: column;
        padding: 0 20px 0 20px;
        margin-bottom: 80px;
        gap: 24px;
    }
    #carte_activites {
        margin: 0;
    }
    .container_img_activites img {
        width: 100%;
        height: 140px;
    }
    .carte_activites h3 {
        padding: 10px 0 10px 15px;
    }


    /* Footer */

    footer {
        flex-direction: column;
        padding-left: 30px;
    }
}